<!DOCTYPE html>

{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Launch with code</title>

    <!-- Bootstrap core CSS 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Custom styles for this template 
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
    -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/jumbotron.css' %}">

    <link rel="stylesheet" type="text/css" 
    href="{% static 'css/font-awesome/css/font-awesome.css' %}">

    <style type="text/css">
        body {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .navbar {
            margin-bottom: 0px !important;
            border-radius: 0px !important;
        }

        .navbar-inverse .navbar-brand, .navbar-brand:hover {
            color: white;
        }

        .link-well {
            background-color: white;
            text-align: center;
        }
    </style>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    
{% block content %}

{% endblock %}
    <div class="container">
      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- <script type="text/javascript" src="{% static 'js/holder.js' %}"></script> -->

  </body>
</html>
