{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron" style="background-color: white;">
    <div class="container">
        <div class="col-sm-6">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-success btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-sm-6">
            <img src="{% static 'img/home_cat.jpg' %}" class="img-responsive img-rounded">
        </div>
    </div>
</div>

<div class="container" style="text-align:center;">
	<hr/>
	<h1>Hello, welcome home!</h1>

	<!-- as_p = Como um parágrafo <p> -->
	<form method="POST" action=""> {% csrf_token %}
	{{ form.as_p }}
	<input type='submit' value='Join' class='btn' />
	</form>
</div>

{% endblock %}
