
{% extends 'base.html' %}
{% load staticfiles %}

{% block jquery %}

$signUpCount = {{ count }};

function completeBlock(progressBarId) {
    $(progressBarId).css("width", "100%")
                    .attr("aria-valuenow", "100")
                    .text("Completed");
};

function setNewPerc(progressBarId, percentNum, newText) {
    $(progressBarId).css("width", percentNum + "%")
                    .attr("aria-valuenow", percentNum);
    if (percentNum < 50) {
        $(progressBarId).text(newText);
    } else {
        $(progressBarId).text(newText);
    }
};

if ($signUpCount == 0) {

} else if ($signUpCount > 0 && $signUpCount < 5) {
    $newPercent = $signUpCount/5 * 100;
    setNewPercent("#count5", $newPercent, 
    "Number of friends: " + $signUpCount);
} else if ($signUpCount >= 5 && $signUpCount < 15) {
    completeBlock("#count5");
    $newCount = $signUpCount - 5;
    $newPercent = $newCount/(15-5) * 100;
    setNewPerc("#count15", $newPercent, 
    "Number of friends: " + $signUpCount);
} else if ($signUpCount >= 15 && $signUpCount < 25) {
    completeBlock("#count5");
    completeBlock("#count15");
    $newCount = $signUpCount - 15;
    $newPercent = $newCount/(25-15) * 100;
    setNewPerc("#count25", $newPercent, 
    "Number of friends: " + $signUpCount);
} else if ($signUpCount >=25 && $signUpCount < 50) {
    completeBlock("#count5");
    completeBlock("#count15");
    completeBlock("#count25");

    $newCount = $signUpCount - 25;
    $newPercent = $newCount/(50-25) * 100;
    setNewPerc("#count50", $newPercent,
    "Number of friends: " + $signUpCount);
} else {
    completeBlock("#count5");
    completeBlock("#count15");
    completeBlock("#count25");
    completeBlock("#count50");
}

{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div class="jumbotron" >
    <div class="container">
    <div class="row">
        <div class="col-md-6 pull-right" style="text-align: center;">
            <h1>
                <i class="fa fa-share-alt"></i>
                Invite Friends &amp; Earn Rewards
            </h1>
            <p>Share your unique link below via e-mail, Facebook, Twitter, Reddit or LinkedIn to earn rewards from CodingForEntrepreneurs.com.</p>
            <div class="well link-well">
                {{ ref_url }}
            </div>
            <br/><br/>
            <div>
                <i class="fa fa-facebook-square fa-4x" style="color: #3b5998;"></i>
                <i class="fa fa-twitter-square fa-4x" style="color: #4099FF;"></i>
                <i class="fa fa-reddit-square fa-4x" style="color: #007bb6;"></i>
                <i class="fa fa-linkedin-square fa-4x" style="color: #900020;"></i>
                <i class="fa fa-google-plus-square fa-4x" style="color: #D34836;"></i>
            </div>
        </div>
        <div class="col-md-6 pull-left">
            <img src="{% static 'img/share_cat.jpg' %}" class="img-responsive img-rounded">
        </div>
    </div>
    </div>
</div>

<div class="container">
    {{ ref_id }} <br/>

    Number of friends that joined: {{ count }}
    <br/><br/>
    <div class="well">{{ ref_url }}</div>

    <!-- Row #1 -->
    <div class="row">
        <div class="col-sm-3">
            <h3>5 joined</h3>
            <div class="progress">
                <div id="count5" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    100%
                </div>
            </div>
        </div>

        <!-- Col #2 -->
        <div class="col-sm-3">
            <h3>15 joined</h3>
            <div class="progress">
                <div id="count15" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    100%
                </div>
            </div>
        </div>

        <!-- Col #3 -->
        <div class="col-sm-3">
            <h3>25 joined</h3>
            <div class="progress">
                <div id="count25" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    100%
                </div>
            </div>
        </div>

        <!-- Col #4 -->
        <div class="col-sm-3">
            <h3>50 joined</h3>
            <div class="progress">
                <div id="count50" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    100%
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
